/* nav-bar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20 0px;
    font-size: 13px;
    background:#970000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
} 
.navbar ul.nav-wrapper{
        flex: 1;
        margin-left: 150px;
    }
    
 a {
    color: white;
    font-weight : bold;
    display: block;
    font-size: 0.7em;
    height: 20px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.nav-wrapper {
    margin: auto;
    text-align: left;
    width: 70%;
  } 
ul {
    list-style: none;
} 

.navbar ul {
    display: flex;
}
.navbar li {
    display: inline-block;
    font-size: 20px;
  }
.navbar ul.nav-wrapper li {
    padding: 0 15px;

}
.navbar li a:hover {
    border-bottom: 1px solid white;
    color:  white;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  .navbar li a:before, .navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(220, 229, 238);
  }
  
  .navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  .navbar li a:after {
    background: white;
    right: 0;
    text-decoration: none;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .navbar li a:hover:before {
    background: white;
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
    text-decoration: none;
  }
  
  .navbar li a:hover:after {
    background: transparent;
    width: 100%;
    text-decoration: none;
  
  }
  /* navbar menu */
.menu{
  cursor: pointer;
  position: absolute;
  left: 30px;
  z-index: 2;
  display: none;
}

  /* comment-section form*/
  .comment-section-form {
    position: relative;
    width: 50%;
    background: #fff;
    margin: auto;
    padding: 17px;
    box-sizing: border-box;
    top: 5em;
  }
  .comment-section-form h2{
    color:#111;
    font-size: 30px;
    /* font: 900 1.75em 'Roboto', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif'; */
    /* text-transform: uppercase; */
    /* letter-spacing: 0.1em; */
  }
  .comment-section-form h2::after{
    content: "";
  display: block;
  width: 2em;
  height: 0.25em;
  background:#970000;
  margin-top: 0.5em;
  }
.comment-section-form::after {
  content: " ";
  display: table;
  clear: both;
}

.comments__form-info,
.comments__form-text {
  width: 100%;
  margin: 0;
}

.comments__form-info { float: left; }
.comments__form-text { float: right; }

.comments__form-field {
  position: relative;
}
.comments__form-label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font: 700 1.125em 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  cursor: text;
  pointer-events: none;
}

.comments__form-label-text {
  display: block;
  transform: translateY(100%);
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.comments__form-input:focus::-webkit-input-placeholder {
   color: transparent;
}
.comments__form-input:focus + .comments__form-label .comments__form-label-text {
  transform: translateY(0);
  opacity: 1;
}

.comments__form-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #111;
  bottom: 1em;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.comments__form-input:focus + .comments__form-label::after {
  transform: scaleX(1);
}

.comments__form-input {
  position: relative;
  width: 100%;
  /* padding: 1em 0; */
  border: 0;
  outline: 0;
  margin: 1em 0;
  border-bottom: 3px solid #ddd;
  vertical-align: bottom;
  font: 400 1.125em 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
}

.comments__form-textarea {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 108px;
  
}

.comments__form-submit {
  /* padding: 0.5em; */
  margin: 1em 0;
  background: none;
  border: 3px solid #111;
  font: 700 1em 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  cursor: pointer;
  opacity: 0.25;
  /* margin-top: 300px; */
  margin-right: 100px;
}

.comments__form-submit:hover {
  opacity: 1;
}


@media only screen and (min-width: 1020px) {

  .comments { width: 970px; padding: 52px; }

  .comments__form-info,
  .comments__form-text { width: 407px; }

}


  /* displaying single article */
  
  article {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 25px;
    width: 70%;
    box-shadow: 0 12px 15px 0 #ccc;
    margin-left: 150px;
  }
  
  article h2.article-title {
    margin: 10px 0;
    font-size: 30px;
    color: #970000;
  }
  
  article p.article-body {
    margin: 10px auto;
    font-size: 20px;
  }
  .desc{
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
  }
  
  .image {
    width: 500px;
    height: 300px;
    float: center;
  }

  @media screen and (max-width: 768px){
    .container {
      width: 90%;
    }
  .menu {
    display: block;
    color:#f1f1f1;
    margin-top: 10px;
  }
  .navbar ul.nav-wrapper{
    position: absolute;
    display: block;
    top:0;
    left:-9pc;
    background: #970000;
    width: 50%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
  }
  .navbar ul.nav-wrapper li{
    padding: 45px;
    border-bottom: #ccc 1px solid;
    font-size: 20px;
  }
  .navbar ul.nav-wrapper li {
    border-bottom: 0;
  }
  .navbar ul.nav-wrapper .show{
    transform: translateX(-30px);
  }
  .navbar .nav-wrapper.hide {
    display: none;
    
  }
}  
