*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
    background-color: white;
    font-style: normal;
}
#navbar {
    background:    #970000;
    color: black;
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
    text-decoration: none;
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
  } 
  
  #navbar ul {
    display: inline-block;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  }
  
  #navbar li {
    display: inline-block;
    font-size: 20px;
  }
  
  #navbar li a {
    color: white;
    font-weight : bold;
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color:  white;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(220, 229, 238);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: white;
    right: 0;
    text-decoration: none;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: white;
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
    text-decoration: none;
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    text-decoration: none;
  
  }
  .navigation {
  padding-block-end : 100px;
  }
  .profile-section{
    margin: 30px;
    width: 100%;
    height: 500px;
  }
  .profile-section h1{
    color:#970000;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    margin-left: 160px;
  }
  .profile-section p{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 27px;
    margin-left: 160px;
  }
#profile-image{
   float: right;
  }
.btn{
  color: white;
   background-color:  #970000; 
   margin-top: 150px;
   margin-left: 250px;
   border: none;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
}

.skills-service-section{

}
.services-container{
  display: flex;
  justify-content: center;
  
}
.service{
display: inline-block;
}
.service h3{
  text-align: center;
}
.skills-container{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.skills{
  
}
.project-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  padding: 20px 0;
}
.project img{
  width: 500px ;
  height:400px;
  margin: 50px;
}
.project-container p, a {
  margin: 45px;
}
.project-image img{
width: 400px;
height: 600px;
margin: 40px;
}
.btn:hover{
  opacity: 0.9;
}
.btn-class{
  color: white;
  background-color:  #970000; 
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  border: 0.7
}
.btn-class:hover{
  opacity: 0.9;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}